{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block body %}

<h3>LETS FIT GYM Has Been The Authority In Fitness Since 1965 Dating Back To The Original Gold's Gym In Venice, California. It Was The Place For Serious Fitness. Opened Long Before The Modern-Day Health Club Existed, The Original LETS FIT GYM Featured Homemade Equipment And A Dedication To Getting Results. It Was An Instant Hit. LETS FIT GYM Quickly Became Known As “The Mecca Of Bodybuilding.''

In 1977, LETS FIT GYM Received International Attention When It Was Featured In The Movie Pumping Iron That Starred Arnold Schwarzenegger And Lou Ferrigno. From That First Gym In GHAZIABAD, LETS FIT GYM Has Become The Largest Co-Ed Gym Chain In The World With Over 700+ Clubs In 27 Countries. Today, LETS FIT GYM Has Expanded Its Fitness Profile To Offer All Of The Latest Equipment And Services, Including Group Exercise, Personal Training, Cardiovascular Equipment, Spinning, And Yoga, While Maintaining Its Core Weight Lifting Tradition.</h3>







{% endblock body %}